@{
    ViewBag.Title = "Index";
}
<div class="wrapper">
    <h2>
        Index</h2>
    <div class="left">
        left
    </div>
    <div class="right">
        <div class="upper-right">
            upper right
        </div>
        <div class="lower-right">
            lower right
        </div>
    </div>
</div>
